.hero {
  /* min-width: 576px; max-width: 1440px; */
  margin-bottom: clamp(52px, 2.417rem + 2.31vw, 72px);
  background: var(--bg-color-2);
}

.hero__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 24px;
}

@media (width > 1270px) {
  .hero__container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (width <= 1270px) {
  .hero__container {
    flex-direction: column;
    justify-content: center;
  }
}

.hero__info {
  display: flex;
  flex-direction: column;
}

@media (width > 1270px) {
  .hero__info {
    max-width: 614px;
  }
}

@media (width <= 1270px) {
  .hero__info {
    max-width: 814px;
  }
}

@media (width <= 1270px) and (width > 768px) {
  .hero__info {
    text-align: center;
  }
}

@media (width <= 768px) {
  .hero__info {
    width: 100%;
    text-align: left;
  }
}

.hero__title {
  font-family: var(--second-family);
  font-weight: 900;
  /* min-width: 576px; max-width: 1240px; */
  font-size: clamp(32px, calc(10.31px + 3.77vw), 57px);
  color: var(--title-color);
}

@media (width > 768px) {
  .hero__title {
    line-height: 112%;
    padding-bottom: 34px;
  }
}

@media (width <= 768px) {
  .hero__title {
    line-height: 106%;
    padding-bottom: 20px;
  }
}

@media (width > 768px) {
  .hero__description {
    padding-bottom: 32px;
  }
}

@media (width <= 768px) {
  .hero__description {
    padding-bottom: 23px;
  }
}

.hero__button {
  border-radius: 62px;
  padding: 16px 54px;
  background: var(--main-color);
  color: var(--secondary-color);
  /* min-width 390px, max-width 1440px */
  margin-bottom: clamp(20px, 0.6rem + 2.67vw, 48px);
  white-space: nowrap;
  transform:
    color var(--transition-color),
    outline var(--transition-color),
    background var(--transition-color),
    box-shadow var(--transition-color);
}

@media (width > 768px) {
  .hero__button {
    max-width: 210px;
    margin-bottom: 48px;
  }
}

@media (width <= 1270px) and (width > 768px) {
  .hero__button {
    align-self: center;
  }
}

@media (width <= 768px) {
  .hero__button {
    width: 100%;
    max-width: none;
    align-self: stretch;
    margin-bottom: 20px;
  }
}

@media (any-hover: hover) {
  .hero__button:hover {
    color: var(--main-color);
    outline: 2px solid var(--main-color);
    background: var(--secondary-color);
    box-shadow: var(--shadow-glow);
  }
}

.hero__stats {
  display: flex;
}

@media (width <= 1270px) {
  .hero__stats {
    justify-content: space-between;
  }
}

@media (width > 768px) {
  .hero__stats {
    gap: 32px;
  }
}

@media (width <= 768px) {
  .hero__stats {
    flex-wrap: wrap;
    gap: 12px 0;
    width: 100%;
  }
}

.hero__stat--center {
  border-left: 1px solid var(--border-color);
}

@media (width > 768px) {
  .hero__stat--center {
    padding-inline: 32px;
    border-right: 1px solid var(--border-color);
  }
}

@media (width <= 768px) {
  .hero__stat--center {
    padding-inline: 0;
    border-right: 0;
  }
}

.hero__stat-title {
  display: block;
  font-family: var(--font-family);
  font-weight: 700;
  /* min-width 390px, max-width 1440px */
  font-size: clamp(24px, 1.129rem + 1.52vw, 40px);
  margin-bottom: clamp(8px, 0.407rem + 0.38vw, 12px);
  color: var(--main-color);
}

.hero__stat-description {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  /* min-width 390px, max-width 1440px */
  font-size: clamp(12px, 0.657rem + 0.38vw, 16px);
  line-height: 138%;
  color: var(--text-color);
}

@media (width <= 768px) {
  .hero__stat-description {
    flex: 0 1 50%;
    text-align: center;
  }
}

@media (width <= 768px) {
  .hero__stat-description:nth-child(3) {
    flex-basis: 100%;
  }
}

.hero__media {
  position: relative;
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 626px;
  line-height: 0;
}

@media (width > 1270px) {
  .hero__media {
    flex-basis: 626px;
  }
}

@media (width <= 1270px) {
  .hero__media {
    flex-basis: auto;
    width: 100%;
  }
}

.hero__pic {
  display: block;
}

.hero__image {
  display: block;
  width: 100%;
  max-width: 626px;
  height: auto;
}

.hero__image-decor {
  position: absolute;
  z-index: var(--layer-1);
  pointer-events: none;
}

.hero__image-decor--small {
  top: 297px;
  left: 0;
}

.hero__image-decor--big {
  top: 86px;
  right: 0;
}

@media (width > 576px) {
  .hero__image-decor--small,
  .hero__image-decor--big {
    display: block;
  }
}

@media (width <= 576px) {
  .hero__image-decor--small,
  .hero__image-decor--big {
    display: none;
  }
}

@media (width > 576px) {
  .hero__image-decor--small-mini,
  .hero__image-decor--big-mini {
    display: none;
  }
}

@media (width <= 576px) {
  .hero__image-decor--small-mini,
  .hero__image-decor--big-mini {
    display: block;
  }
}

@media (width <= 576px) {
  .hero__image-decor--small-mini {
    top: 137px;
    left: 27px;
  }
}

@media (width <= 576px) {
  .hero__image-decor--big-mini {
    top: 40px;
    right: 21px;
  }
}

.brands {
  background-color: var(--main-color);
}

.brands__container {
  padding-block: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-width: 992px; max-width: 1440px; */
  gap: clamp(34px, -7.839rem + 16.07vw, 106px);
  flex-wrap: wrap;
}

.brand__logo {
  display: block;
  flex-shrink: 0;
  height: auto;
}

@media (width > 576px) {
  .brand__logo-versace {
    width: 167px;
  }
}

@media (width <= 576px) {
  .brand__logo-versace {
    width: 116px;
  }
}

@media (width > 576px) {
  .brand__logo-zara {
    width: 91px;
  }
}

@media (width <= 576px) {
  .brand__logo-zara {
    width: 64px;
  }
}

@media (width > 576px) {
  .brand__logo-gucci {
    width: 156px;
  }
}

@media (width <= 576px) {
  .brand__logo-gucci {
    width: 110px;
  }
}

@media (width > 576px) {
  .brand__logo-prada {
    width: 194px;
  }
}

@media (width <= 576px) {
  .brand__logo-prada {
    width: 127px;
  }
}

@media (width > 576px) {
  .brand__logo-calvin {
    width: 207px;
  }
}

@media (width <= 576px) {
  .brand__logo-calvin {
    width: 135px;
  }
}