@media (width > 768px) {
  .burger {
    display: none;
  }
}

@media (width <= 768px) {
  .burger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--layer-3);
    width: 24px;
    height: 24px;
    transition: color var(--transition-time);
  }

  .burger__icon-menu,
  .burger--open .burger__icon-cross {
    display: block;
  }

  .burger__icon-cross,
  .burger--open .burger__icon-menu {
    display: none;
  }
}

@media (any-hover: hover) {
  .burger:hover {
    color: var(--accent-color-1);
  }
}