.products__container-new {
  border-bottom: 1px solid var(--border-color);
}

@media (width > 768px) {
  .products__container-new {
    padding-bottom: 64px;
    margin-bottom: 64px;
  }
}

@media (width <= 768px) {
  .products__container-new {
    padding-bottom: 40px;
    margin-bottom: 42px;
  }
}

.products__container-leaders {
  margin-bottom: clamp(50px, 2.429rem + 2.86vw, 80px);
}

.products__title {
  /* min-width 390px, max-width 1440px */
  margin-bottom: clamp(32px, 1.466rem + 2.19vw, 55px);
}

.products__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(174px, 1fr));
}

@media (width > 992px) {
  .products__cards {
    gap: 20px;
  }
}

@media (width <= 992px) {
  .products__cards {
    margin-inline: auto;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
  }
}

@media (width <= 992px) and (width > 768px) {
  .products__cards {
    /* min-width 768px, max-width 992px */
    width: clamp(430px, -9.554rem + 75.89vw, 600px);
  }
}

@media (width > 768px) {
  .products__cards {
    padding-bottom: 32px;
  }
}

@media (width <= 768px) {
  .products__cards {
    width: min(100%, 430px);
    padding-bottom: 27px;
  }
}

@media (width <= 992px) {
  .products__card-disabled {
    display: block;
  }
}

@media (width <= 992px) {
  .products__card-disabled {
    display: none;
  }
}

.products_card {
  min-width: 0;
}

.products__link {
  display: block;
  border-radius: 20px;
  color: inherit;
}

.products__card-media {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--card-color);
}

@media (width <= 576px) {
  .products__card-media {
    height: 200px;
  }
}

.products__card-media-preview {
  display: block;
  width: 100%;
  transform-origin: center;
  transition: transform var(--transition-time);
}

@media (width <= 576px) {
  .products__card-media-preview {
    height: 100%;
  }
}

@media (any-hover: hover) {
  .products__card-media-preview:hover {
    transform: scale(1.08);
  }
}

.products__card-info-title {
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 8px;
}

@media (width <= 425px) {
  .products__card-info-title {
    font-size: clamp(14px, -0.518rem + 5.71vw, 16px);
    white-space: nowrap;
  }
}

.products__card-evaluation {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 8px;
}

.products__card-evaluation-stars {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 0;
}

.products__star {
  display: block;
  flex-shrink: 0;
  overflow: visible;
}

@media (width > 768px) {
  .products__star {
    width: 18px;
    height: 17px;
  }

  .products__star--half {
    width: 9px;
    height: 17px;
  }
}

@media (width <= 768px) {
  .products__star {
    width: 15px;
    height: 14px;
  }

  .products__star--half {
    width: 8px;
    height: 14px;
  }
}

.products__card-evaluation-text {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--main-color);
}

@media (width > 768px) {
  .products__card-evaluation-text {
    font-size: 14px;
  }
}

@media (width <= 768px) {
  .products__card-evaluation-text {
    font-size: 12px;
  }
}

.products__card-evaluation-text span {
  color: var(--text-color);
}

.products__card-price {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: clamp(5px, 0.196rem + 0.48vw, 10px);
}

.products__card-price-text {
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--main-color);
}

.products__card-price-disabled {
  font-family: var(--font-family);
  font-weight: 700;
  text-decoration: line-through;
  color: var(--text-disabled-color);
}

.products__card-price-text,
.products__card-price-disabled {
  /* min-width 768px, max-width 992px */
  font-size: clamp(18px, -0.161rem + 2.68vw, 24px);
}

.products__card-price-discount {
  border-radius: 62px;
  background: var(--bg-discount-color);
  font-family: var(--font-family);
  font-weight: 500;
  /* min-width 768px, max-width 992px */
  font-size: clamp(10px, 0.196rem + 0.89vw, 12px);
  color: var(--text-discount-color);
  padding: 3px clamp(7px, -0.848rem + 2.68vw, 13px);
}

@media (width > 576px) {
  .products__card-price-discount {
    padding-block: 6px;
  }
}

.products__button {
  position: relative;
  overflow: hidden;
  display: block;
  margin-inline: auto;
  color: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: 62px;
  padding: 16px 54px;
  transition:
    background-color var(--transition-time),
    color var(--transition-time)
}

.products__button::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  left: -50px;
  background-color: var(--glare-color);
  transform: skewX(-20deg);
  animation: none;
}

@media (width > 768px) {
  .products__button {
    width: auto;
  }
}

@media (width <= 768px) {
  .products__button {
    width: 100%;
  }
}

@media (any-hover: hover) {
  .products__button:hover {
    background-color: var(--accent-color-2);
    color: var(--text-color);
  }

  .products__button:hover::before {
    animation: shine 1s;
  }
}
