.page {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--main-color);
  scroll-behavior: smooth;
  scroll-padding-top: 98px;
  scrollbar-gutter: stable;
}

.page__body {
  min-width: 375px;
}

.page__body--no-scroll {
  overflow-y: hidden;
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

img {
  object-fit: cover;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--main-color);
  outline-offset: 2px;
}

.title-md {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: clamp(30px, 1.457rem + 1.71vw, 48px);
  text-align: center;
  color: var(--main-color);
}
